.main-section {
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.main-section {
  width: 100%;
}

.Tag--new {
  position: absolute;
  text-decoration: none;
  z-index: 2;
  left: 73%;
  top: 4%;
  font-family: "Roboto";
  font-weight: 500;
  background-color: #99e2d0;
  color: #0a8d6d;
  font-size: 1em;
  padding: 0.4em 1.6em;
  border-radius: 0.25em;
}

body {
  text-decoration-line: none;
  margin: 0px;
}

header img {
  width: 100%;
}

h1 {
  font-family: "Shrikhand", cursive;
  margin-bottom: 0%;
}

h2 {
  font-family: "Shrikhand", cursive;
  font-size: 1.8em;
  letter-spacing: 1px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

.menu-menu h4 {
  font-weight: 300;
}

.card-menu h3 {
  font-size: 1.1em;
  margin: 8px 0;
}

.card-menu p {
  font-size: 0.9em;
  font-weight: 300;
  margin: 0 0 10px 0;
  display: flex;
  align-self: flex-end;
}

.menu-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.menu-cover {
  position: absolute;
  z-index: -1;
}

.menu-title {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 1em;
}

.menu-arrow {
  font-size: large;
  display: flex;
  align-items: flex-end;
  margin: 1em 0 1em 1em;
}

.menu-menu {
  position: relative;
  z-index: 2;
  margin-top: 25vh;
  width: 359px;
  background-color: #f2f2f2;
  border: medium solid #f2f2f2;
  border-radius: 35px 35px 0 0;
  padding: 0 10px 50px 15px;
}

.menu-title-with-heart {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.menu-title2 {
  width: 75%;
  display: flex;
  flex-direction: row;
}

.menu-heart {
  display: flex;
  align-items: center;
}

.menu-heart i {
  font-size: 30px;
}

.containers {
  background-color: #fff;
  border: medium solid #fff;
  border-radius: 15px;
}

.for-euro {
  width: fit-content;
  display: flex;
  flex-flow: row nowrap;
}

.cost {
  width: 100px;
  display: flex;
  justify-content: end;
}

.for-cost p {
  font-weight: 900;
}

.details {
  width: 200px;
  display: flex;
  align-self: flex-end;
}

.for-cost {
  width: 40%;
  height: 100%;
  font-size: 0.7em;
  background-color: #fff;
  display: flex;
  justify-content: start;
  align-items: flex-end;
  padding-bottom: 15px;
}

.menu-entrees {
  width: 100%;
}

.for-ustensils {
  display: flex;
  align-items: center;
}

.for-ustensils i {
  margin-right: 10px;
}

.for-handshake {
  display: flex;
  align-items: center;
  align-content: space-around;
  margin-right: 20px;
}

.for-handshake i {
  margin-right: 10px;
}

.fa-heart {
  transform: scaleY(1);
  position: relative;
}

.fa-heart--red {
  font-size: 20em;
  color: transparent;
  position: absolute;
  z-index: -1;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.fa-heart:active + .fa-heart--red {
  animation: fill-up 1.25s ease-in-out;
  background-image: linear-gradient(#9356dc, #ff79da);
  opacity: 1;
}

.heartAnim:active > .fa-regular {
  opacity: 0;
  transition: opacity 2.5s;
}

.heartAnim {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fillUpHeart {
  0% {
    opacity: 0;
    transform: translateY(108%);
  }
  30% {
    fill: orange;
    opacity: 0;
  }
  50% {
    background-image: linear-gradient(#9356dc, #ff79da);
  }
  80% {
    opacity: 0.5;
  }
  100% {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fill-up {
  0% {
    color: transparent;
    opacity: 0;
    margin-bottom: 0px;
    transform: scale(0.4);
  }
  100% {
    opacity: 1;
    background-image: linear-gradient(#9356dc, #ff79da);
    margin-bottom: 0px;
    transform: scale(1);
  }
}
.card-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
}

.tick-wrapper {
  background-color: #84c7a4;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 35%;
  transform: translateX(60%);
  transition: transform 0.75s ease-in;
  font-size: 1.3em;
  margin: 0;
}

.tick-wrapper i {
  margin-left: 20px;
}

.card-menu-wrapper::before {
  opacity: 0;
}

.card-menu-wrapper {
  width: 95%;
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding-left: 15px;
  margin: 15px 0;
}

.card-menu-wrapper:nth-child(2) {
  opacity: 0;
}

.card-menu-wrapper:nth-child(2) {
  opacity: 1;
  animation: fadeIn 2s 1;
}

.card-menu-wrapper:nth-child(3) {
  opacity: 0;
}

.card-menu-wrapper:nth-child(3) {
  opacity: 1;
  animation: fadeIn 2.5s;
}

.card-menu-wrapper:nth-child(4) {
  opacity: 0;
}

.card-menu-wrapper:nth-child(4) {
  opacity: 1;
  animation: fadeIn 2.75s;
}

.card-menu-wrapper:nth-child(2) {
  opacity: 1;
  animation: fadeIn 2s 1;
}

.menu-list:-moz-loading > .card-menu-wrapper {
  animation: fadeIn 5s;
}

.menu-list .card-menu-wrapper:nth-child(1) {
  animation-delay: 0.1s;
}

.menu-list .card-menu-wrapper:nth-child(2) {
  animation-delay: 1s;
}

.menu-list .card-menu-wrapper:nth-child(3) {
  animation-delay: 1.5s;
}

.menu-list .card-menu-wrapper:nth-child(4) {
  animation-delay: 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.check-white {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  transform: rotate(-270deg);
  transition-delay: 0.75s;
}

.card-menu:hover + .tick-wrapper {
  animation: slide-left 0.75s ease-in-out;
  transform: translateX(0);
}

@keyframes slide-left {
  0% {
    color: transparent;
    transform: translateX(100%);
    transform-origin: right 0%;
  }
  100% {
    margin-bottom: 0px;
    transform: translateX(0);
    transform-origin: left 100%;
  }
}
.card-menu:hover + .tick-wrapper > .check-white {
  transform: rotate(0deg);
  transition: transform ease-in-out 0.5s;
  transition-delay: 0.25s;
}

.homepage-menu {
  position: relative;
  z-index: 2;
  margin-top: 25vh;
  width: 359px;
  background-color: #f2f2f2;
  border: medium solid #f2f2f2;
  border-radius: 35px 35px 0 0;
  background-color: #fff;
  width: 90%;
  margin: 20px;
  border-radius: 22px;
}

.homepage-container {
  padding: 40px 0;
  width: 100%;
  background-color: #f2f2f2;
}

.homepage-container img {
  width: 100%;
  border-radius: 12px 12px 0 0;
}

.homepage-container h3 {
  font-weight: bold;
  margin: 0;
  padding-left: 15px;
}

.homepage-container h4 {
  font-weight: bold;
  margin: 0;
  padding: 8px 0 0 15px;
}

.homepage-container p {
  font-size: 1em;
  font-weight: 300;
  padding: 10px 0 15px 15px;
  margin: 0;
}

.homepage-container .menu-title2 {
  width: 82%;
  flex-flow: column;
}

footer {
  color: #fff;
  background-color: #2b2b2b;
  padding: 0 40px 40px 40px;
}

p {
  font-family: "Roboto", sans-serif;
}

footer h2 {
  margin: 0;
  padding: 18px 0 15px 0;
  font-size: 1.1em;
  color: #f2f2f2;
}

footer p {
  margin: 0.3em;
  color: #f2f2f2;
}

footer i {
  font-size: 0.8em;
}

.location {
  background-color: #e1e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding-right: 10px;
}

.location i {
  padding-right: 20px;
}

.homepage-title {
  display: flex;
  justify-content: center;
}

.explore-restaurants {
  text-align: center;
  padding: 40px;
}

.nav {
  background-color: #f2f2f2;
}

.explore-restaurants p {
  font-size: 18px;
  font-weight: 300;
  color: #2b2b2b;
  margin: 35px 0 25px 0;
}

.explore-restaurants h3 {
  margin-top: 0;
  font-size: 1.4em;
}

.explore-restaurants button {
  margin-bottom: 25px;
}

.how-it-works button {
  font-size: 17px;
  background-color: rgba(242, 242, 242, 0.7019607843);
  border: none;
  border-radius: 25px;
  width: 100%;
  height: 4.4em;
  margin: 8px;
  text-align: start;
  position: relative;
  z-index: 0;
  box-shadow: 0px 3px 10px 3px rgba(220, 219, 219, 0.7490196078);
}

#button1 i {
  font-size: 1.3em;
}

#button2 i {
  font-size: 1.2em;
}

#button3 i {
  font-size: 1.1em;
}

#button2 {
  margin: 14px 8px;
}

.how-it-works button:hover {
  background-color: hsla(254deg, 68%, 95%, 0.702);
  box-shadow: 0px 3px 10px 3px rgba(202, 209, 220, 0.7019607843);
}

.how-it-works button i:hover {
  background-color: rgba(234, 241, 251, 0.7019607843);
  color: #9356dc;
}

.purple-dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9356dc;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}

.button-with-dot {
  width: 87%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.button-with-dot:hover > button i {
  color: #9356dc !important;
}

.how-it-works {
  display: flex;
  background-color: #fff;
  flex-flow: column;
  align-items: center;
  padding: 20px 0 60px 0;
}

.how-it-works i {
  padding: 0 20px;
  color: #756d6d;
}

.how-it-works h3 {
  align-self: flex-start;
  padding-left: 15px;
  font-size: 1.4em;
}

.btn-gradient {
  font-size: 0.9em;
  background: linear-gradient(#ff79da, #9356dc);
  color: #fff;
  border: none;
  border-radius: 35px;
  width: 65%;
  height: 3.2em;
  box-shadow: -1px 3px 6px 1px #bbadcd;
}

.btn-gradient:hover {
  opacity: 0.8;
  box-shadow: -1px 5px 7px 2px #9d8faf;
}

.hompage-pics img {
  width: 100%;
  height: 11.2em;
  object-fit: cover;
  object-position: 0% 105%;
}

.hompage-pics1 img {
  width: 100%;
  height: 11.2em;
  object-fit: cover;
  object-position: 0% 61%;
}

.hompage-pics2 img {
  width: 100%;
  height: 12em;
  object-fit: cover;
  object-position: 0% 120%;
}

.hompage-pics3 img {
  width: 100%;
  height: 12em;
  object-fit: cover;
  object-position: 0% 120%;
}

.for-half-border {
  width: 102px;
  height: 23px;
  border-bottom: 3px solid #84c7a4;
  position: relative;
}

.for-half-border:after {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  bottom: -3px;
  right: 0px;
  border: 5px solid #f2f2f2;
}

.for-order-button {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.for-order-button button {
  width: 55%;
  height: 3.4em;
}

.spinner i {
  width: 300px;
  color: #9356dc;
}

@media (min-width: 768px) {
  main,
  .homepage-title,
  .explore-restaurants,
  .how-it-works {
    padding: 0vw 30vw;
  }
  .menu-cover {
    height: 200vh;
  }
  .menu-cover img {
    height: 100%;
    object-fit: cover;
  }
  .homepage-container {
    background-color: white;
  }
}
@media (min-width: 1600px) {
  main,
  .homepage-title,
  .explore-restaurants,
  .how-it-works {
    padding: 0vw 35vw;
  }
  .homepage-container {
    background-color: white;
  }
}

/*# sourceMappingURL=menu.css.map */
